
.ipynb_checkpoints/ml_XGBoost_lightgbm-checkpoint.ipynb
.ipynb_checkpoints/ml_교차검증_guide-checkpoint.ipynb
.ipynb_checkpoints/stat1_guide-checkpoint.ipynb
.ipynb_checkpoints/stat2_guide-checkpoint.ipynb
dataset/4_cov.csv
dataset/4_fm2.csv
dataset/5_10_cd.csv
dataset/5_2_fm.csv
dataset/5_2_shoes.csv
dataset/5_7_fl.csv
dataset/5_8_jfw.csv
dataset/5_9_ptt.csv
dataset/7_1_beer.csv
dataset/7_3_lmm.csv
dataset/auto-mpg.csv
dataset/auto-mpg.xlsx
dataset/df_ep.xlsx
dataset/ep.xlsx
dataset/titanic3.csv
dataset/주가데이터.csv
ml_교차검증_guide.ipynb
stat1_guide.ipynb
stat2_guide.ipynb
ml_교차검증_guide.ipynb
stat1_guide.ipynb
stat2_guide.ipynb
